*{
    padding: 0;
    margin: 0;
}
#header{
    display: flex;
    border: 1px solid black;
    background-color: #f4f4f4;
    justify-content: space-between;
    align-items: center;
    margin: 3px 2px 2px 4px;
}
#logo{
    border-radius: 100%;
    width: 150px;

}
#navbar{
    border: 1px solid rgb(32, 13, 13);
    width: 250px;
    border-radius: 5px;
    
}
#navigation-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid black;
    padding-left: none;
    justify-content: center;
}

ul > li {
    padding :2px;
    margin: 5px;
    text-decoration: none;
}
ul > li :hover{
    background-color: #e5d465;
    
}
#login-btn{
    background-color: rgb(8, 105, 8);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 2px;
}

/* Search bar styling  */
#search-comp{
    font-family:monospace;
    margin: 5px 0 0 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
#search-bar{
    height: 35px;
    width: 400px;
    margin: 3px 3px ;
}
#search-btn{
    height: 35px;
    text-align: center;
    font-size: larger;
    margin: 5px 3px 3px 0px;
}
#sort-btn{
    height: 35px;
    width: 100px;
    text-align: center;
    font-size: larger;
    margin: 5px 3px 3px 0px;
}
#body{
    display: flex;
    flex-wrap: wrap;
    margin: 2px solid rgb(217, 152, 54);
    background-color: #f4f4f4;
    list-style-type: none;
}
#card{
    height: 350px;
    width: 200px;
    border: 1px solid black;
    margin: 5px 2px;
}

#card:hover{
    border: 2px solid black;
    border-radius: 4px;
}

#food-image{
    width: 190px;
    height: 120px;
    margin: 5px 6px;
}
#food-info{
    margin: 5px 10px;
    list-style-type: none;
    text-decoration: none;
}
#rating-btn{
    width: 60px;
    border-radius: 40px;
    color: white;
}
#restaurant-name{
    text-decoration: none;
}
#shimmer-card{
    height: 350px;
    width: 200px;
    border: 1px solid black;
    margin: 5px 2px;
   background-color: grey;
}
#shimmer-body{
    display: flex;
    flex-wrap: wrap;
    margin: 2px solid rgb(217, 152, 54);
    background-color: #f4f4f4
}


#restaurant-menu-image{
    width: 300px;
    height:300px;
}

#menu{
    display: flex;
    flex-wrap: wrap;
    
}
#menu-item-container{
    width: 260px;
    height: 120px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 7px;
    
}
#menu-item-container:hover{
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;
}
#item-card-image{
    width: 100px;
    height: 100px;
}

#restaurant-menu{
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}



